{
  "jsxSingleQuote": true,
  "singleQuote": true,
  "printWidth": 120,
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "quoteProps": "as-needed",
  "bracketSameLine": true,
  "singleAttributePerLine": false
}
